/* LandingPage.css */



*{
    font-family: 'Roboto', sans-serif;
    text-size-adjust: auto;
    
}



/* HEADER */

header{
    background-color: #1F2937;
    color: #F9FAF8;
    
    
    
}



/* Creating boxes side by side header */
.container-header div{
    /*border: 1px #ccc solid; */
    
}

.container-header{
    display: flex;
    justify-content: center;
    padding: 100px;
    align-items: center;
    justify-content: center;

}


header h3{
    float: left;
    padding-left: 5px;
}
header ul{
    float: right;
    padding-right: 5px;
}

.header-1{
    width:35%;
    height:10%;
  
}

.header-2{
        text-align: center;
        width:35%;
        height:10%;
        background:rgb(125, 125, 131);
}

header a{
    color: #F9FAF8;
    text-decoration: none;
   
}

header button{
    background-color: #3882F6;
    border-radius: 8px;
    cursor: pointer;
    height: 25px;
    width: 75px;
    color: #F9FAF8;
    border: none;

}

/* MAIN */

main{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 30%;
    padding-right: 30%;
}

main h1{
    text-align: center;
    
}

main p{
    text-align: center;
}

main img{

    float: left;

}

.container-1 div{
    
    padding: 10px;
}

.container-1{
    display: flex;
    justify-content: center;
}

/* SECTION */

section.three{

    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 30%;
    padding-right: 30%;


}

section h4{
    text-align: right;
}



li{
    display: inline;
    
}

/* FOOTER */


footer section{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px;
    border: 1px #ccc solid;

}

footer button{
   
    border-radius: 8px;
    cursor: pointer;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-width: 2px;
    height: 35px;
    width: 100px;
    color: #F9FAF8;
    margin: 50%;
}

.container-footer div{

    padding: 10px;
}

footer section{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 25%;
    margin-right: 25%;
}





/*Example for creating side by side boxes with border

.container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
}

.container-1{
    display: flex;
    justify-content: center;
}

*/

